[submodule "third_party/jwt-cpp"]
	path = third_party/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "third_party/cppcodec"]
	path = third_party/cppcodec
	url = https://github.com/tplgy/cppcodec.git
